# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  MASS
)

importFrom("grDevices", "colorRamp", "dev.off", "rgb", "svg")
importFrom("graphics", "abline", "arrows", "axis", "box", "grid",
	 "image", "par", "plot", "plot.new", "points", "polygon",
	 "segments", "text")
importFrom("stats", "filter")
importFrom("utils", "glob2rx", "read.table")
